body{
  font-family: Arial;
  background:#f5f5f5;
  padding:20px;
}

.product{
  background:white;
  padding:15px;
  border-radius:8px;
  width:300px;
}

a{
  display:inline-block;
  margin-top:10px;
  background:#ff9900;
  color:white;
  padding:8px 12px;
  text-decoration:none;
  border-radius:5px;
}
